<%- include ('partials/header'); -%>

<!-- SIDEBAR -->
    <div class="row">
      <div class="col-2 sidenav">
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#clients">Clients</a>
        <a href="#contact">Contact</a>
      </div>
      <div class="col-8">

      </div>
      <div class="col-2">

      </div>
    </div>
    

 <%- include ('partials/footer'); -%>